#conteudo{
    width: 400px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px #000000;
    text-align: center;

}

#titulo{
    width: inherit;
    height: 80px;
    background-color: #000000;
    color: #ffffff;
    box-sizing: border-box;
    padding-top: 25px;
    font-size: 26px;
    font-family: verdana;
    word-spacing: 5px;
    letter-spacing: 3px;
}

#form{
    width: inherit;
    height: 185px;
    padding-top: 20px;
    box-sizing: border-box;
}

input{
    margin-bottom: 10px;
    margin-left: 10px;
}

#resultadoMedia{
    width: inherit;
    height: 35px;
    background-color: cornflowerblue;
    box-sizing: border-box;
    padding-top: 2px;
    font-family: cursive;
    font-size: 20px;
    font-weight: bold;
}

#botaoReset{
    width: 100px;
    height: 30px;
    background-color: firebrick;
    color: #ffffff;
    font-size: 0.9em;
    text-align: center;
    padding-top: 5px;
    box-sizing: border-box;
    margin-top: -30px;
    margin-left: 20px;
}

#botaoReset a{
    color: #ffffff;
    text-decoration: none;
}

.msgErro{
    font-family: verdana;
    font-size: 1em;
    color: rgb(252, 4, 4);
    font-weight: bold;
    text-align: center;
}










