.formulario {
    margin-top: 2%;
    margin-left: 2%;
    margin-right: auto;
    width: 30%;
    border: 2px solid black;
}

.final{
    margin-top: 2%;
}

.pares {
    margin-left: 20%;
    margin-top: 2%;
}

.impares {
    margin-left: 20%;
    margin-top: 5%;
}

.numPares{
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    margin-left: 20%;
    width: 50%;
    height: 20%;
    border: 2px solid black;
    background-color: #3b5998;
    color: white;
    overflow-y: scroll;
}

.numImpares{
    margin-top: 1.5%;
    margin-bottom: 1.5%;
    margin-left: 20%;
    width: 50%;
    height: 20%;
    border: 2px solid black;
    background-color: #3b5998;
    color: white;  
    overflow-y: scroll;
}

.contPares{
    margin-left: 20%;
}

.contImpares{
    margin-left: 20%;
}

footer{
    text-align: center;
    margin-top: 5%;
}