body {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: right top;
    background-color: whitesmoke;
}

footer {
    text-align: center;
    margin-top: 10%;
}
